@model MomentumTest.Models.Reservation

<div class="modal fade" id="editModal-@Model.Id" tabindex="-1" aria-labelledby="editModalLabel-@Model.Id"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel-@Model.Id">Editar Reserva @Model.Id</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm-@Model?.Id">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="mb-3">
                        <label for="guestName-@Model.Id" class="form-label">Nome do Hóspede</label>
                        <input type="text" class="form-control" id="guestName-@Model.Id" value="@Model.MainGuest.Name"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="startDate-@Model.Id" class="form-label">Data de Início</label>
                        <input type="date" class="form-control" name="StartDate" id="startDate-@Model.Id"
                            value="@Model.StartDate.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="mb-3">
                        <label for="endDate-@Model.Id" class="form-label">Data de Término</label>
                        <input type="date" class="form-control" name="EndDate" id="endDate-@Model.Id"
                            value="@Model.EndDate.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="mb-3">
                        <label for="status-@Model.Id" class="form-label">Status</label>
                        <select class="form-select" name="StatusId" id="status-@Model.Id">
                            @foreach (var status in ViewBag.Statuses)
                            {
                                <!option value="@status.Id" @(status.Id == Model.Status.Id ? "selected" : "")>@status.Name
                                </!option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary save-reservation" data-id="@Model?.Id">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.save-reservation').on('click', function () {
            var reservationId = $(this).data('id');
            var form = $('#editForm-' + reservationId);
            var formData = form.serialize();

            $.ajax({
                url: '/Home/UpdateReservation',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        location.reload();
                        alert('Reserva editada com sucesso.');
                    } else {
                        alert('Falha ao editar a reserva: ' + response.errors);
                    }
                },
                error: function () {
                    alert('An error occurred while trying to update the ');
                }
            });
        });
    });
</script>