@model List<MomentumTest.Models.Reservation>

<table class="table table-striped table-hover mt-4">
    <thead>
        <tr>
            <th scope="col">Nº da reserva</th>
            <th scope="col">Nome Hóspede</th>
            <th scope="col">Período</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.Id</td>
                    <td>@reservation.StatusId</td>
                    <td>@reservation.StartDate.ToShortDateString() - @reservation.EndDate.ToShortDateString()</td>
                    <td>@reservation.Status.Name</td>
                    <td>
                        <button 
                            type="button" 
                            class="btn btn-info btn-sm" 
                            data-bs-toggle="modal" 
                            data-bs-target="#detailsModal-@reservation.Id">
                            Detalhes
                        </button>

                        <button 
                            type="button" 
                            class="btn btn-warning btn-sm" 
                            data-bs-toggle="modal" 
                            data-bs-target="#editModal-@reservation.Id">
                            Editar
                        </button>

                        <button 
                            type="button" 
                            class="btn btn-danger btn-sm" 
                            data-bs-toggle="modal" 
                            data-bs-target="#deleteModal-@reservation.Id">
                            Deletar
                        </button>
                    </td>
                </tr>

                @await Html.PartialAsync("_ReservationDetailsModal", reservation)
                @await Html.PartialAsync("_ReservationEditModal", reservation)
                @await Html.PartialAsync("_ReservationDeleteModal", reservation)
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Nenhuma reserva encontrada.</td>
            </tr>
        }
    </tbody>
</table>