@model List<MomentumTest.Data.MenuItemDTO>
@using System.Linq

    <nav>
        <input type="text" name="menuFilter" />
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a class="" asp-controller="@item.Controller" asp-action="@item.Action">
                        <img src="/assets/gear.svg" alt="Filter Icon" class="icon"/>
                        @item.Text
                    </a>
                    @if (item.SubItems.Any())
                    {
                        <ul>
                            @foreach (var subItem in item.SubItems)
                            {
                                <li>
                                    <a class="" asp-controller="@subItem.Controller" asp-action="@subItem.Action">
                                        @subItem.Text
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </nav>